@charset "UTF-8";
/* ----------------------------------*/
/* -----------   Index   ----------- */
/* ----------------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 20px; }

body {
  /* color:white; */
  background-color: #0f0e0f;
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23555359' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16 px;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

h2 {
  color: #ffcd42; }

h3 {
  color: #ffcd42; }

h4 {
  color: #ffcd42; }

h5 {
  color: #ffcd42; }

h6 {
  color: #ffcd42; }

p {
  text-align: justify;
  color: #fbf7f7; }

svg {
  color: #ffcd42; }

img {
  width: 200px;
  text-align: center; }

span a {
  color: #ffcd42;
  /* color iconos redes sociales */ }

a {
  color: #000000;
  text-decoration: none; }

ul {
  list-style: none;
  list-style-type: none;
  text-decoration: none; }

/* Cinta de contacto */
.superior {
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 3rem;
  padding: 10px 0;
  margin: 2px;
  grid-template-columns: repeat(3, 1fr);
  background-color: #1e2023;
  color: #d8d2cc; }

.superior__col1 {
  text-align: center;
  margin-bottom: 10px; }

.superior__col2 {
  align-items: center;
  text-align: center;
  margin-bottom: 10px; }

.superior__col3 {
  text-align: center;
  margin-bottom: 10px; }

/* CODIGO PRINCIPAL DE LA PAGINA */
hr {
  border: 2px solid #48d959;
  margin: 2px 0; }

/* estilos de navegación */
.nav__main {
  display: grid;
  font-size: 17px;
  justify-content: flex-start;
  /* ubicacion del menu izquierda */
  align-self: flex-end;
  align-items: center;
  height: 60px;
  background-color: #b7babc; }

.nav__brand {
  width: 8vw;
  align-items: center;
  align-content: center; }

.nav__brand img {
  width: 1vw;
  align-items: center;
  align-content: flex-start; }

.nav__main ul {
  display: flex; }

.nav__main ul li {
  padding: 10px; }

.nav__main ul li a {
  padding: 2px; }

.nav__main ul li a:hover {
  border-bottom: 2px solid #1a1e22; }

.nav__main ul.nav__menu {
  flex: 1;
  align-self: center;
  align-items: center; }

.menubtn {
  display: none;
  position: absolute;
  cursor: pointer;
  top: 35px;
  right: 30px;
  z-index: 2;
  font-size: 1.5rem; }

/* promocional especialidades*/
.showcase {
  width: auto;
  height: 350px;
  background: url("../recursos/Especialidades.jpg") no-repeat center center/cover;
  padding: 7vh;
  margin-bottom: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; }

.showcase p {
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #fbf7f7; }

/* promocional citas*/
.showcase2 {
  width: 84.1vw;
  height: 300px;
  background: url("../recursos/calendario_medico.jpg") no-repeat center center/cover;
  padding: 7vh;
  margin-bottom: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; }

/* boton promocional */
.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #251a3e;
  color: white;
  font-size: 15px;
  border: 1px solid #251a3e;
  margin: 10px 0; }

.btn:hover {
  background-color: #6f32ff;
  opacity: .7; }

/* sección de cintas */
.cintados {
  display: flex;
  grid-template-columns: repeat(1fr);
  gap: 25px;
  margin: 10px 0;
  background-color: #d6d6d67d; }

.cintados col {
  display: inline;
  text-align: center;
  align-items: center;
  justify-content: center; }

.cintados svg {
  display: block;
  margin: 0px auto;
  width: 20%;
  height: 100px;
  text-align: center; }

.cintados img {
  width: 10vh;
  text-align: center; }

.cintados a {
  display: inline-block;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold; }

.cintados a:hover {
  text-decoration: underline;
  color: #fafcfb; }

.cintados p {
  font-size: 14px;
  font-style: normal;
  text-align: justify;
  padding: 1rem; }

/* Redes sociales */
.redessoc {
  background-color: #d6d6d67d;
  padding: 2rem; }

.redessoc h2 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px; }

.link {
  display: flex;
  align-items: center;
  justify-content: center; }

.link a {
  margin: 0 30px; }

.link a i {
  font-size: 3rem;
  /*Tamaño iconos redes sociales*/ }

/* seccion footer */
.footerlink {
  display: grid;
  background-color: #223030;
  color: beige;
  font-size: 12px;
  padding: 35px; }

.col ul li {
  line-height: 3.3; }

.col a {
  font-size: 14px;
  color: white; }

.col ul li a:hover {
  font-size: 18px;
  text-decoration: underline;
  color: #32b8cd; }

.col iframe {
  width: 350px;
  width: 28vmax;
  height: 35vh; }

.col p {
  font-size: 14px;
  color: white; }

.copyright {
  background-color: #0f0e0f;
  color: aliceblue;
  font-size: 15px;
  padding: 12px 0;
  text-align: center;
  padding-bottom: 20px; }

/* ----------------------------------*/
/* ---------  Conocenos   ---------- */
/* ----------------------------------*/
.cintados {
  text-align: center; }

.cintados h3 {
  text-align: left;
  /*Alineacion de titulos*/ }

/* ----------------------------------*/
/* ------ Formulario de Citas------- */
/* ----------------------------------*/
table tr td {
  padding-right: 5px; }

table tr td label {
  align-items: center; }

table tr td input {
  width: 100%;
  border-radius: 3px;
  height: 1.9rem; }

table tr td textarea {
  margin-top: 0.2rem; }

/* ----------------------------------*/
/* --------   Medias Query   ------- */
/* ----------------------------------*/
@media screen and (max-width: 768px) {
  body {
    background-color: red; }
  .superior {
    display: grid;
    width: 100%;
    height: 30px;
    margin: auto;
    font-size: .5em;
    grid-template-columns: repeat(3, 1fr);
    background-color: #363636;
    color: #ffffff; }
  /* muestra el menu */
  .nav__main ul.nav__menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2f3640;
    height: 100%;
    padding: 30px;
    opacity: .9;
    transform: translateX(-400px);
    transition: transform .5s ease-in-out; }
  .nav__main ul.nav__menu.show {
    transform: translateX(20px); }
  /* lineas de division del menu */
  .nav__main ul.nav__menu li {
    padding: 20px;
    border-bottom: #5c445c solid 1px;
    font-size: 14px; }
  .superior .menubtn button span {
    color: #000000; }
  /* promocional especialidades*/
  .showcase {
    width: auto;
    height: 300px;
    background: url("../recursos/Especialidades.jpg") no-repeat center center/cover;
    padding: 7vh;
    margin-bottom: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; }
  .showcase p {
    margin-bottom: 10px;
    font-size: .82rem;
    color: #fbf7f7; }
  /* promocional citas*/
  .showcase2 {
    width: auto;
    height: 300px;
    background: url("../recursos/calendario_medico.jpg") no-repeat center center/cover;
    padding: 7vh;
    margin-bottom: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; }
  .showcase2 p {
    margin-bottom: 10px;
    font-size: .82rem;
    color: #fbf7f7; }
  /* sección de cintas */
  .cintados {
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 1vh;
    margin: 10px 0;
    background-color: #d6d6d67d;
    align-items: center;
    justify-content: space-between; }
  .cintados col {
    display: inline;
    width: 300px;
    text-align: center;
    align-items: center;
    justify-content: center; }
  .cintados img {
    width: 15vh; }
  /* seccion footer */
  .footerlink {
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 1vh;
    align-items: center;
    justify-content: space-between;
    /* margin: 10px 0; */
    background-color: #223030;
    color: beige;
    font-size: 1.2rem;
    padding: 35px; }
  .col ul li {
    line-height: 2;
    text-align: left; }
  .col a {
    font-size: .7rem;
    color: white; }
  .col ul li a:hover {
    font-size: 18px;
    text-decoration: underline;
    color: #32b8cd; }
  .col iframe {
    width: 60vh;
    height: 45vh; }
  .col p {
    font-size: 14px;
    color: white; }
  .copyright {
    background-color: #0f0e0f;
    color: aliceblue;
    font-size: 15px;
    padding: 12px 0;
    text-align: center;
    padding-bottom: 20px; }
  .col li {
    text-align: center; }
  .menubtn {
    display: flex;
    position: absolute;
    cursor: pointer;
    top: 35px;
    right: 30px;
    z-index: 2;
    font-size: 1.5rem; }
  /* ----------------------------------*/
  /* ------ Formulario de Citas------- */
  /* ----------------------------------*/
  table tr td {
    padding-right: 5px; }
  table tr td label {
    align-items: center; }
  table tr td input {
    width: 100%;
    border-radius: 3px;
    height: 1.9rem; }
  table tr td textarea {
    margin-top: 0.2rem;
    width: 100%; } }

@media screen and (max-width: 360px) {
  body {
    background-color: #1ed31b; }
  .superior {
    display: grid;
    width: 100%;
    height: 30px;
    margin: auto;
    font-size: .5em;
    grid-template-columns: repeat(3, 1fr);
    background-color: #363636;
    color: #ffffff; }
  /* muestra el menu */
  .nav__main ul.nav__menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2f3640;
    height: 100%;
    padding: 30px;
    opacity: .9;
    transform: translateX(-400px);
    transition: transform .5s ease-in-out; }
  .nav__main ul.nav__menu.show {
    transform: translateX(20px); }
  /* lineas de division del menu */
  .nav__main ul.nav__menu li {
    padding: 20px;
    border-bottom: #5c445c solid 1px;
    font-size: 14px; }
  .superior .menubtn button span {
    color: #ffcd42; }
  /* promocional especialidades*/
  .showcase {
    width: auto;
    height: 300px;
    background: url("../recursos/Especialidades.jpg") no-repeat center center/cover;
    padding: 7vh;
    margin-bottom: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; }
  .showcase p {
    margin-bottom: 10px;
    font-size: .82rem;
    color: #fbf7f7; }
  /* promocional citas*/
  .showcase2 {
    width: auto;
    height: 300px;
    background: url("../recursos/calendario_medico.jpg") no-repeat center center/cover;
    padding: 7vh;
    margin-bottom: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end; }
  .showcase2 p {
    margin-bottom: 10px;
    font-size: .82rem;
    color: #fbf7f7; }
  .menubtn {
    display: flex;
    position: absolute;
    cursor: pointer;
    top: 35px;
    right: 30px;
    z-index: 2;
    font-size: 1.5rem; }
  /* sección de cintas */
  .cintados {
    display: grid;
    grid-template-columns: repeat(1fr);
    gap: 1vh;
    margin: 10px 0;
    background-color: #d6d6d67d;
    align-items: center;
    justify-content: space-between; }
  .cintados col {
    display: inline;
    text-align: center;
    align-items: center;
    justify-content: center; }
  /* seccion footer */
  .footerlink {
    display: grid;
    /* grid-template-columns: repeat(1fr); */
    gap: .1vh;
    align-items: center;
    justify-content: center;
    /* margin: 10px 0; */
    background-color: #223030;
    color: beige;
    font-size: 1.2rem;
    padding: 35px; }
  .col ul li {
    line-height: 1.5;
    text-align: left; }
  .col a {
    font-size: .7rem;
    color: white; }
  .col ul li a:hover {
    font-size: 18px;
    text-decoration: underline;
    color: #32b8cd; }
  /* mapa */
  .col iframe {
    width: 32vh;
    height: 45vh; }
  .col p {
    font-size: 12px;
    color: white; }
  .copyright {
    background-color: #0f0e0f;
    color: aliceblue;
    font-size: 15px;
    padding: 12px 0;
    text-align: center;
    padding-bottom: 20px; }
  .col li {
    text-align: center; }
  .col ul {
    font-size: large;
    text-align: center; }
  table tr td {
    padding-right: 5px; }
  table tr td label {
    align-items: center; }
  table tr td input {
    width: 80%;
    border-radius: 3px;
    height: 1.9rem; }
  table tr td textarea {
    margin-top: 0.2rem;
    width: 80%; }
  table tr td select {
    width: 80%; } }
